<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="shia-ku.css">
  <link href='http://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="h1-div">    
    <h1>Shia-Ku</h1>
  </div>
  <div class="textarea-div">
    <textarea disabled>
    <%="#{@first_line}\n#{@second_line}\n#{@third_line}" %>
    </textarea>
  </div>
  <div class="button-div">
    <form action="/" method="POST">
    <input type="text" name="usrname" hidden><br>
    <input class="submit_button" type="submit" value="Generate!">
    </form>
  </div>
</body>
<html>
